.SplashRelative{
    height: 100vh;
    position:relative;
}

.SplashAbsolute{
    position: absolute;
    top: 190px;
    left: 520px;
    color: white;
    
}

.buttonStyle{
        width: 250px;
        color: black;
}

